
/* Your CSS Code here. */
<font-monospace, text-end, fw-bold>
#total
	text-align:left; 
}
.table:hover{
	color:black;
}
.table-dark{
	background-color:black;
}
th{
	
	border:1px solid black;
	color:white;
	background-color:black;
}
caption{
	text-align:start;
}
.table-light{
	text-align:right;
}